@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  outline: none;
}

body {
  background-color: #d6dde7;
  font-family: "Open Sans", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
