.contentContainer {
  text-align: center;
}

.answers {
  font-weight: bold;
  font-size: 30px;
}

.home {
  margin-top: 15px;
  text-decoration: underline;
  color: #47a1eb;
}

.home:hover {
  cursor: pointer;
}
