<div class="currencyListContainer">
  <label for="currency">From</label>
  <select
    id="currency"
    name="currency"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
  >
    <option
      *ngFor="let currency of currencyList | keyvalue; let i = index"
      [value]="currency.key"
      [selected]="
        (isFrom && this.from === currency.key) ||
        (!this.isFrom && this.to === currency.key)
      "
    >
      {{ currency.key }} - {{ currency.value }}
    </option>
    <!-- აქ როგორ შემიძლია boolean კომპონენტში განიტანო ? *ngForს როცა ვიყენებ -->
  </select>
</div>
