<ul class="tools">
    <li>
        <button class="tool bold" (click)="decorate('bold','')">B</button>
    </li>
    <li>
        <button class="tool italic" (click)="decorate('italic','')">i</button>
    </li>
    <li>
        <button class="tool underline" (click)="decorate('underline','')">U</button>
    </li>
    <li>
        <button class="tool" (click)="decorate('backColor','yellow')">h</button>
    </li>
    <span class="seperator"></span>
    <li>
        <button class="tool" (click)="decorate('formatBlock','H1')">H1</button>
    </li>
    <li>
        <button class="tool" (click)="decorate('formatBlock','H2')">H2</button>
    </li>
</ul>
