<ul class="tools">
  <li>
    <button class="tool bold" (click)="onDecorate('bold', '')">B</button>
  </li>
  <li>
    <button class="tool italic" (click)="onDecorate('italic', '')">i</button>
  </li>
  <li>
    <button class="tool underline" (click)="onDecorate('underline', '')">
      U
    </button>
  </li>
  <li>
    <button class="tool" (click)="onDecorate('backColor', 'yellow')">h</button>
  </li>
  <span class="seperator"></span>
  <li>
    <button class="tool" (click)="onDecorate('formatBlock', 'H1')">H1</button>
  </li>
  <li>
    <button class="tool" (click)="onDecorate('formatBlock', 'H2')">H2</button>
  </li>
</ul>
