body {
  background-color: #17202a;
}

.contentContainer {
  margin: auto;
  margin-top: 10%;
  width: 320px;
  background-color: #1c2733;
  color: white;
  padding: 10px 30px;
  border-radius: 15px;
}
